@font-face {
  font-family: 'Lobster';
  src: url('./assets/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Matcha';
  src: url('./assets/matcha.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelifySans';
  src: url('./assets/PixelifySans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('./assets/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('./assets/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('./assets/PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* For Webkit browsers like Chrome/Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For IE/Edge */
body {
  -ms-overflow-style: none;
}
